<app-card-checkbox>
    <span primary-title>Cell-GB-123456</span>
    <span primary-subtitle>IC-ENC</span>
    <span primary-content>I am a cell</span>
    <span supporting-title>000000</span>
    <span supporting-subtitle>UKHO</span>
    <span supporting-content>Some more info</span>
</app-card-checkbox>

<app-card-checkbox>
    <span primary-title>Cell-GB-123456</span>
    <span primary-subtitle>IC-ENC</span>
    <span primary-content>I am a cell</span>
    <span supporting-title>000000</span>
    <span supporting-subtitle>UKHO</span>
    <span supporting-content>Some more info</span>
</app-card-checkbox>